<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <!-- <li>
        <a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Heroku Works</a>
      </li> -->
      
    </ul>
	<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Stock Prices<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="<%= req.path %>/stocks/AAPL">Get Apple Price</a></li>
          <li><a href="<%= req.path %>/stocks/GOOG">Get Google Price</a></li>
          <li><a href="<%= req.path %>/stocks/MSFT">Get Microsoft Price</a></li>
          <li><a href="<%= req.path %>/stocks/ORCL">Get Oracle Price</a></li>
          <li class="divider"></li>
          <li><a href="<%= req.path %>/stocks">Get All Stock Prices</a></li>
          <li><a href="<%= req.path %>/stocks/UNKNOWN">Get Unknown Ticker Price</a></li>
          <li><a href="<%= req.path %>/simulateException">Simulate Server Exception</a></li>
          <li class="divider"></li>
          <li><a href="<%= realtimeReq.path %>/stocks/realtime/AAPL">Get Apple Price in Realtime</a></li>
          <li><a href="<%= realtimeReq.path %>/stocks/realtime/GOOG">Get Google Price in Realtime</a></li>
          <li><a href="<%= realtimeReq.path %>/stocks/realtime/MSFT">Get Microsoft Price in Realtime</a></li>
          <li><a href="<%= realtimeReq.path %>/stocks/realtime/ORCL">Get Oracle Price in Realtime</a></li>
          <li class="divider"></li>
          <li><a href="<%= realtimeReq.path %>/stocks/realtime">Get All Stock Prices in Realtime</a></li>
          <li><a href="<%= realtimeReq.path %>/stocks/realtime/UNKNOWN">Get Unknown Ticker Price in Realtime</a></li>
        </ul>
    </li>		
	</ul>
    <!-- <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center</a>
      </li>
    </ul> -->
  </div>
</nav>
